body
{
    background-color: rgb(255, 251, 245);
}

section
{
    border: 1px solid #450b5c;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

article
{
    border: 1px solid #7916a0;
    padding: 25px 40px 60px;
}




